@import "tailwindcss"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header section */
.gragradient-logo {
    color: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
}

.navber {
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    align-items: center;
    padding: 12px;
}

.hamburger-menu {
    visibility: hidden;
}

.navber h2 {
    color: #FFFFFF;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.primary-btn-2 {
    /* background: linear-gradient(to bottom,#F7E93F, #FB09B4 #9100F8); */
    /* background: linear-gradient(to bottom, #F7E93F, #FB09B4, #9100F8); */
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
}

/* hero section */
.hero-container {
    /* display: flex; */
    position: relative;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bg {
    max-width: 100%;
    /* position: absolute; */
}

.hero-circle {
    max-width: 40%;
    width: 15rem;
    top: 10rem;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-microphone {
    max-width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

.hero-contant {
    position: absolute;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* z-index: 23px; */
    bottom: 30px;

}

.primary-btn {
    /* position: absolute; */
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.btn {
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 12px 40px;
    border-radius: 10000px;
    background-color: none;

}
.podcast-container{
    max-width: 100%;
}
.social-media ul li a img{
    width: 1rem;
}

.footer-bg{
    max-width: 100%;
    margin: 0 auto;
}
.host-contant{
    width: 100%;
    height: 280px;
    align-items: center;
    padding: 10px;
    background-color: #351165;
    border-radius: 20px;
}
/* .socal-icon img{
    width: 100px;
    height: 20px;
    font-size: 25px;
    padding: 10px;
    border-radius: 40%;
    background-color: #533C72;
} */

/* featured section */
.featured-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}
.featured-card{
    max-width: 100%;
    /* height: 100%; */
    align-items: center;
    padding: 10px;
    background-color: #250D44;
    border-radius: 30px;
}

.main-cird>* {
    border: 3px solid #351165;
    padding: 30px;
}
.audio-card{
    grid-area: audio-card;
}
.mobile-card{
    grid-area: mobile-card;
}
.global-card{
    grid-area: global-card;
}
.excluve-card{
    grid-area: excluve-card;
}
.rich-card{
    grid-area: rich-card;
}
.card-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "audio-card mobile-card mobile-card mobile-card"
    "audio-card global-card global-card global-card"
    "excluve-card excluve-card excluve-card rich-card";
}


/* responsive secrion */

@media screen and (max-width: 576px) {
    .navber {
        display: flex;
        flex-direction: row
    }

    .nav-menu {
        display: none;
    }

    .primary-btn-2 {
        display: none;
    }

    .hamburger-menu {
        visibility: visible;
        color: rgba(255, 255, 255, 1);
    }

    .hero-container {
        max-width: 100%;
        height: 100%;
    }

    .hero-circle {
        max-width: 40%;
        width: 5rem;
        top: 10rem;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .hero-microphone {
        max-width: 100%;
        /* position: absolute; */
        width: 2.5rem;
    }
    .hero-contant {
    position: absolute;
    bottom: 30px;
    }
    .podcast-container{
    max-width: 100%;
    }
   
}

    @media screen and (min-width: 576px) and (max-width: 992px) {}

    .hide{
        display: none !important;
    }