* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header section */
span {
    color: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
}

.navber {
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    align-items: center;
    margin-top: ;
    padding: 12px;
}
.hamburger-menu{
    visibility: hidden;
}

.navber h2 {
    color: #FFFFFF;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.primary-btn-2 {
    /* background: linear-gradient(to bottom,#F7E93F, #FB09B4 #9100F8); */
    /* background: linear-gradient(to bottom, #F7E93F, #FB09B4, #9100F8); */
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
}


/* responsive secrion */

@media screen and (max-width: 576px) {
    .navber{
        display: flex;
        flex-direction: row
    }
    .nav-menu{
        display: none;
    }
    .primary-btn-2{
        display: none;
    }
    .hamburger-menu{
        visibility: visible;
        color: rgba(255, 255, 255, 1);
    }
    
}

@media screen and (min-width: 576px) and (max-width: 992px) {}